
.projects-container {
  padding: 32px;
  margin-top: 2em;
  color: white;
}


.projects-title {
  font-size: 2.5rem; 
  font-weight: bold;
  color: #ffffff; 
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2); 
  text-align: center;
  margin-bottom: 20px;
}


.search-filter-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}


.search-input {
  flex: 1;
  padding: 12px 16px;
  border: none;
  border-radius: 25px;
  background-color: #333;
  color: white;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease-in-out;
  position: relative;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}


.search-input::placeholder {
  color: #bbb;
  font-size: 1rem;
}

.search-input:focus {
  background-color: #222;
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.4);
}


.filter-select {
  padding: 12px;
  border-radius: 25px;
  border: none;
  background-color: #6f42c1;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.filter-select:hover {
  background-color: #8e44ad;
}


.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 1.5em;
}


.project-button {
  background: linear-gradient(90deg, #8e44ad, #6f42c1);
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.project-button:hover {
  background: linear-gradient(90deg, #6f42c1, #8e44ad);
  transform: scale(1.05);
}
